html {
    overflow-y: scroll;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    margin-bottom: 5%;
    margin-top: 2%;
}
#home {
    font-size: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

#about, #education, #experience {
    opacity: 100%;
    font-size: 1em;
    margin-left: 5%;
    margin-right: 5%;
}

ul.experience-content {
    list-style-type: disc;
}

a.experience-content {
    /* color: inherit; */
    text-decoration: underline;
    color: #333333;
}

#home h2 {
    font-size: 1.5em;
    line-height: 2rem;
}

#skip-intro {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#content {
    opacity: 100%;
    line-height: 1.5em;
    line-height: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
}

@keyframes cursor-blink {
    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

@keyframes sections-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#about, #education, #experience, #content {
    animation: sections-fade 2s alternate;
}

#home h2::after {
    content: "▋";
    animation: cursor-blink 1.5s step-end infinite;
}

a {
    color: rgb(0, 122, 255);
    text-decoration: none;
}

a.active {
  text-decoration: underline;
}

img {
    width:1.5em;
    height:1.5em;
}

.hidden {
    display: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    }
    
    #about, #education, #experience {
        opacity: 100%;
        font-size: 0.8em;
    }

    a {
        text-decoration: none;
    }

    #content {
        font-size: 1em;
        line-height: 1.2rem;
        width: 90%;
    }

    #home h2 {
        line-height: 1.5rem;
    }
}

.light-mode {
    background-color: #F0F0F0;
    color: #333333;
}

.dark-mode {
    background-color: #333333;
    color: #F0F0F0;
}